@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
html {
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4 {
  font-weight: 100; }

hr {
  border-top: 0.5rem dotted #A3A3A3;
  border-bottom: 0;
  width: 5%;
  margin: 5rem auto; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#top_nav {
  background-color: white;
  padding-top: 0.5rem;
  width: 100%;
  margin: 0;
  position: fixed;
  text-align: center;
  font-weight: bold; }
  #top_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #top_nav li {
    float: left;
    padding-left: 2rem; }

#www {
  width: 80%;
  margin: 0 auto; }

#top {
  padding-top: 3rem; }
  #top .texts {
    float: left; }
  #top .logo {
    float: right; }
    #top .logo img {
      width: 250px; }
  #top .tkd {
    font-family: Montserrat;
    font-size: 3.5rem;
    color: #0B47B2;
    display: block;
    font-weight: bolder;
    padding-top: 2rem; }
  #top .uks {
    font-family: Montserrat;
    font-size: 2rem;
    color: #1F70FF;
    display: block; }
    #top .uks u {
      border-bottom: 1px solid #1F70FF;
      text-decoration: none; }

#top2 {
  width: 100%;
  clear: both; }
  #top2 .btn {
    text-align: center; }
  #top2 .boxes_left {
    float: right; }
  #top2 .box {
    width: 120px;
    height: 120px;
    background-color: #A3A3A3;
    display: inline-block;
    margin: 1.5rem; }
  #top2 .left {
    width: 45%;
    float: left; }
    #top2 .left h2 {
      color: #B71C1C;
      float: right;
      padding-right: 1.5rem; }
    #top2 .left p {
      clear: both;
      text-align: center; }
  #top2 .middle {
    width: 10%;
    float: left; }
    #top2 .middle img {
      width: 100px;
      display: block;
      margin: auto; }
  #top2 .right {
    width: 45%;
    float: left; }
    #top2 .right h2 {
      color: #B71C1C;
      padding-left: 1.5rem; }
    #top2 .right p {
      padding: 0 1.5rem;
      height: 100px; }

#treningi h2 {
  color: #B71C1C;
  font-weight: bold;
  padding-top: 2rem; }

#treningi p {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0; }

#treningi .benefits {
  text-align: center; }
  #treningi .benefits img {
    margin: 2rem;
    width: 50%; }

#treningi h2.info {
  padding-top: 1rem;
  padding-left: 1em;
  color: #A3A3A3;
  font-weight: bold; }
  #treningi h2.info small {
    color: #1F70FF; }

#treningi h2.info2 {
  padding-top: 3rem;
  padding-right: 1rem;
  color: #A3A3A3;
  font-weight: bold;
  text-align: right; }
  #treningi h2.info2 small {
    color: #DC3545; }

#treningi table.center {
  font-size: 1.5rem;
  font-weight: bold; }
  #treningi table.center .blua {
    color: #0B47B2; }
  #treningi table.center .griza {
    color: #A3A3A3; }

#kontakt h2 {
  color: #B71C1C;
  font-weight: bold; }

#kontakt h3 {
  font-weight: bold;
  padding-left: 2rem;
  padding-top: 2rem; }
  #kontakt h3 small {
    color: #A3A3A3; }

#kontakt .card {
  width: 300px;
  float: left;
  margin: 1rem; }
  #kontakt .card a {
    color: #0B47B2; }

#map {
  height: 300px;
  width: 100%; }

footer {
  background-color: black;
  border-top: 4px solid #A3A3A3; }
  footer p {
    color: white;
    text-align: center;
    padding-top: 5px;
    margin: 0; }
  footer a {
    color: #A3A3A3; }

.center {
  text-align: center; }

.clear {
  clear: both; }
