@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
body {
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4 {
  font-weight: 100; }

hr {
  border-top: 0.5rem dotted #A3A3A3;
  border-bottom: 0;
  width: 5%;
  margin: 2rem auto;
  opacity: .5; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#top_nav {
  padding-top: 0.5rem;
  width: 100%;
  margin: 0;
  position: fixed;
  text-align: center; }
  #top_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #top_nav li {
    float: left;
    padding-left: 1.5rem; }
