@import 'variables';
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  font-weight: 100;
}

hr {
  border-top: .5rem dotted $grey;
  border-bottom: 0;
  width: 5%;
  margin: 5rem auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
