@import 'reset';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

#top_nav {
  padding-top: 0.5rem;
  width: 100%;
  margin: 0;
  position: fixed;
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    float: left;
    padding-left: 1.5rem;
  }
}
